.modalTitle {
  color: orange;
  font-weight: 620;
}

.modal {
  min-width: 25%;
}

.modal i {
  position: absolute;
  right: -10%;
  top: -15%;
  font-size: 40px;
  cursor: pointer;
  color:rgb(54, 160, 54)
}
.modal div {
  margin: 7%;
}

.modal div small {
  font-size: 13.5px;
}

.modal div p {
  font-weight: 600;
}

.modal div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal div p {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0%;
}

.modal div select {
  -webkit-appearance: media-fullscreen-button;
  height: 40px;
  width: 70%;
  margin-right: 3%;
  padding-left: 10px;
  border: 1px solid black;
}

.modal div button {
  max-width: 40%;
  text-align: center;
  background-color: orange;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 30%;
  padding: 10px;
}

.cancel_Btn {
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  text-decoration: none;
  width: 130px;
}

.cancel_Btn {
  background-image: linear-gradient(
    to right,
    #ff6161 0%,
    #c00b0b 51%,
    green 100%
  );
}

.cancelIcon {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.cancelIcon p {
  display: none;
}

.cancelIcon:hover p {
  display: block;
  position: absolute;
  text-align: center;
  top: -100%;
  left: -30%;
  background-color: #ff6161;
  color: white;
  padding: 2px 3px 2px 3px;
  z-index: 999;
}
