.head {
  background-color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.head a {
  text-decoration: none;
}

.head a:hover {
  color: orangered;
}

.name {
  font-size: 20px;
  font-weight: 650;
  color: black;
}

.color_org {
  color: orangered;
}
