.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 350px;
  min-height: 120px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 600;
  margin: 40px 80px 40px 80px;
  background-color: white;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.box:hover {
  transform: scale(1.1);
  animation: mymove 2s;
  box-shadow: 0px 0px 20px goldenrod;
  color: black;
  text-decoration: none;
}
@keyframes mymove {
  50% {
    transform: rotate(360deg);
  }
}
