.home {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.home > p {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 25px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.row1 div button {
  margin-right: 10px;
}

.row1 div input {
  margin-left: 10px;
}

.row2 {
  border: 1px solid rgb(243, 236, 236);
  padding-bottom: 20px;
}

.row2 > p {
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-left: 10px;
}
.row2Item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.row2Item div p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(16, 197, 252);
}

.border {
  height: 150px;
  width: 2px;
  background-color: aqua;
}

.row3 {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.row3 input {
  width: 3%;
  margin-right: 10px;
}

.row3 p {
  font-size: 15px;
  background-color: aquamarine;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.th {
  color: black;
  text-align: center;
}
